@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Francois+One|Jua|Kanit|Libre+Franklin|Righteous');
* { -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; 
    padding:0;
    margin:0;
    font-family: 'Kanit', sans-serif;
  	 color:#333;
}	
body{
	background-color: #fff;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a, a:hover, a:link, a:visited{
	text-decoration: none;
	color:#333;
}

ul, ol{
	list-style: none;
}

img{
	border: none;
	padding:0;
	margin:0;
}

/* header */
header#header{
	width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background-color: rgba(255,255,255,0.7);
    sbackground-color: rgba(200,55,98,0.6);
    padding: 20px 20px 20px 38px;
	sborder:1px solid black;
}
div#wrap-header-logo, div.menu-left, div.menu-right{
	display:inline-block;
}

div#wrap-header-logo{
	
	sborder:1px solid black;
}

div#wrap-header-logo h1{
	font-family: 'Do Hyeon', sans-serif;
	font-family: 'Jua', sans-serif;
	font-family: 'Libre Franklin', sans-serif;
	font-family: 'Francois One', sans-serif;
	font-family: 'Kanit', sans-serif;
	font-family: 'Righteous' !important;
	letter-spacing: 6px;
	text-transform: uppercase;
	
}

div#wrap-header-logo h1 a{
	font-family: 'Righteous' !important;
	color:#777;
}


/* menu left */
div.menu-left{
	margin-right:80px;
	sborder:1px solid black;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    position: relative;
    float: right;
    margin-top: 0px;
}

div.menu-left > div{
	display: block;
    padding: 0 18px 0 25px;
    list-style: none;
    text-align: center;
    margin: auto;
    position: relative;
    float: left;
    box-sizing: border-box;
    line-height: 31px;
}

div.menu-left > div > span{
	text-align: center;
    cursor: pointer;
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing:3px;
    sfont-weight: bold;
}

div.menu-left > div > img:hover{
	opacity: 0.5;
    o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.menu-left > div > ul{
	display: block;
    min-width: 80px;
    background: rgba(255,255,255,0.7);
    text-align: center;
    top: 60px;
    line-height: 23px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    border-radius:0 0 7px 7px;
}

.menu-left > div > ul > li{
    margin:4px 0 8px 0px;
    sborder:1px solid black;
}



/* menu right */
div.menu-right{
	sborder:1px solid black;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    position: relative;
    float: right;
    margin-top: -13px;
    font-size:12px;
}

div.menu-right > div{
	display: block;
    padding: 18px 18px 0 25px;
    list-style: none;
    text-align: center;
    margin: auto;
    position: relative;
    float: left;
    box-sizing: border-box;
    line-height: 60px;
}

div.menu-right > div > img{
	text-align: center;
    cursor: pointer;
    vertical-align: top;
}

div.menu-right > div > img:hover{
	opacity: 0.5;
    o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.menu-right > div > ul{
	display: block;
    min-width: 80px;
    background: rgba(255,255,255,0.7);
    text-align: center;
    top: 73px;
    line-height: 23px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    padding:1px 0;
    border-radius:0 0 7px 7px;
}

.menu-right > div > ul > li{
	width:100%;
    margin:12px 0px;
}

.menu-right > div > ul.search-bar{
    right: 0;
    left: -100px;
    width:200px;
}

ul.search-bar {}
ul.search-bar  li {
	content: "";
	display: block;
	clear:both;

}

ul.search-bar  li form{
	content: "";
	display: block;
	clear:both;
	padding:1em;
}

ul.search-bar  li fieldset{
	border-radius: 0.4em;
	background-color: #fff;
	border: 1px solid #aaa;
    overflow: hidden;
    background-color: #eee;
}

ul.search-bar  li  #keyword, ul.search-bar  li  .btn-search{
	display:block;
	margin:0;
	float:left;
}
ul.search-bar  li  #keyword{
	font-size:14px;
	padding:6px 10px;
	width:140px;
	border:0;
	border-right:1px solid #aaa;
}

ul.search-bar  li  .btn-search{
	height:22px;
	margin-top:6px;
	margin-left:7px;
}




/* wrapper */
div#wrapper{
	margin:0 auto;
	margin-top:80px;
	width:100%;
	min-height:720px;
}

div.header-title{
	sborder:1px solid #efefef;
	padding : 1em;
	text-align: center;
}

.header-title h1, .product-list-header h1{
	text-transform:uppercase;
	letter-spacing:3px;
	color:#C83762;
	font-size:1.8em;
	margin-bottom:1em;
	text-align: center;
}

div.wrap-content{
	max-width:-webkit-fit-content;
	max-width:-moz-max-content;
	display:table;  /* 익스플로러에서 컨텐츠에 맞게 영역 너비 조절 및 가운데 정렬*/
	margin:0 auto;
	padding-bottom:4em;
}

wrap-index-item a{
	display:block;
}

div#wrap-index-item img{
	display:block;
	width:100%;
}



/* footer */
footer#footer{
	margin-top:30px;
	padding-top:50px;
	width:100%;
}

div#wrap-footer-item{
	width:fit-content;
	width: -moz-fit-content;
	display:flex;
	flex-direction:row;
	margin: auto;
}
div#wrap-footer-item:after{
	content: "";
	display: block;
	clear:both;
}
div#wrap-footer-item > div{
	sdisplay:table;
	margin:auto;
}
div#wrap-footer-item > div > div{
	display:flex;
	flex-direction:row;
	margin:auto;
}

div#wrap-footer-item ul, div#wrap-footer-item ul{
	sfloat:left;
	sdisplay:inline-block;
}

div#wrap-footer-item ul{
    width: 280px;
    min-height: 180px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    padding: 6px 0 0 25px;
    color: #444;
    font-size: 13px;
    line-height: 20px;
}

div#wrap-footer-item ul.company {
    width: 360px;
    border-right: 0;
}


footer#footer  p.copyright {
	clear:both;
	padding:1em 2em;
	text-align: right;
}


/* Pagination */
div.wrap-pagination{
    margin:auto;
    padding-top:1em;
	clear:both;
	text-align:center;
	font-size: 0;
}
ol.pagination{
	display: inline-block;
    line-height: 0;
    vertical-align: top;
}
ol.pagination li{
	font-size:12px;
	display:inline-block;
	border: 1px solid #d7d5d5;
	margin: 0 0 0 -1px;
	color: #757575;
    vertical-align: top;
}

ol.pagination li:first-child {
    margin-left: 0;
}

ol.pagination li a{
	display: block;
	color: #495164;
    width: 33px;
    padding: 9px 0;
    font-weight: bold;
    orcolor: #939393;
    line-height: 14px;
    background: #fff;
}

ol.pagination li a.this{
	padding-bottom: 6px;
    border-bottom: 3px solid #495164;
    color: #495164;
}


ol.pagination li a.deactive{
	color: #939393;
}
ol.pagination li img{
	border: none;
	margin:0;
	padding:0;
	vertical-align: top;
}

.success{
	color:#0f0;
}

.error{
	color:#f00;
}